.main-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 30px;
}

.product-details-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .3);
  min-width: 100vw;
  min-height: 100vh;
}

.product-details-content {
  position: relative;
  min-width: 80vw;
  max-width: 80vw;
  max-height: 70vh;
  min-height: 400px;
  background-color: white;
}

.product-details-close {
  border: none;
  background: none;
  position: absolute;
  top: -35px;
  right: -30px;
}

.product-details-close-icon {
  color: white;
  font-size: 40px;
  font-weight: 700;
}
